* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #6FE6FC;

}

.container {
    background-color: beige;
    width: 40vh;
    min-height: 45vh;
    border: 2px solid grey;
    border-radius: 1rem;
    padding: 2rem;
}

form {
    margin: 2rem 0 1rem 0;
}

form select,
input,
button {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}

h2 {
    text-align: center;
    ;
}

form input {
    border: 2px solid grey;
    padding-left: 0.5rem;
    height: 3rem;
    font-size: 1.2rem;
}

.dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.to {
    margin-left: 2.5rem;
}

.msg {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: black;
}

form button {
    font-size: 1rem;
    height: 2.5rem;
    background-color: #800000c9;
    color: #eee;
}